@import "./base/font";
@import "./utils/variables";
@import "./components/animations";

html,
body {
  background-color: $colour-background;
  font-family: "raleway";
  scroll-behavior: smooth;
  margin: 0;
  color: $colour-text;
  // font-size: 1.5vw;

  a {
    text-decoration: none;
    color: $colour-text;
  }
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  background-color: $colour-background;
  z-index: 3;
  height: 5rem;
  margin: 0;
  font-family: "good_times";
  width: 100%;

  #lang-choice {
    display: flex;
    flex-flow: row;

    .lang-option {
      margin: 0 0.5rem;
      cursor: pointer;
      font-size: 1.2rem;
    }
    .lang-option:after {
      content: "";
      display: block;
      width: 0;
      height: 0.1em;
      transition: width 300ms;
      background-color: $colour-primary;
    }

    .lang-option:hover:after {
      width: 100%;
    }
  }

  .social-links i {
    color: $colour-text;
    font-size: 1.8em;
    margin: 1rem;
    transition: transform 300ms;
  }

  .social-links i:hover {
    color: $colour-primary;
  }

  nav {
    opacity: 1;

    ul {
      list-style-type: none;
      display: flex;

      li {
        display: inline-block;
        list-style-type: none;
        margin: 0 1rem;
        cursor: pointer;
        font-size: 1.2rem;
      }

      li:after {
        content: "";
        display: block;
        width: 0;
        height: 0.1em;
        transition: width 300ms;
        background-color: $colour-primary;
      }

      li:hover:after {
        width: 100%;
      }
    }
  }
}

#nav-responsive {
  display: none;
}

.hamburger-menu {
  display: none;
}

// Section titre

#page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 5rem 5%;
  font-family: "good_times";

  .section-name {
    margin: 0;
    font-size: 3rem;
    opacity: 1;
    width: 100%;
    color: $colour-primary;
  }

  .job-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
  }
}

// A propos de moi

#about {
  margin: 0 5vw 5rem 5vw;
  padding-top: 5rem;
  opacity: 1;

  #about-title {
    font-size: 3rem;
    margin-bottom: 6rem;
    font-family: "good_times";
    border-bottom: solid $colour-primary 0.2rem;
  }

  #about-description {
    display: flex;

    img {
      border-radius: 5%;
      width: 20em;
      height: 17em;
      object-fit: cover;
      object-position: bottom;
      margin-right: 1.5em;
    }

    #about-text {
       white-space: wrap;
        font-size: 1.5em;
        font-weight: 200;
        text-align: justify;
        white-space: wrap;
        margin: 0 5% 1em 5%;
    }
  }
}

// Skills

.skills {
  margin: 0 5vw 5rem 5vw;
  padding-top: 5rem;
  opacity: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;

  h2 {
    width: 100%;
    margin: 0 0 5rem 0;
    font-size: 3rem;
    font-family: "good_times";
    border-bottom: solid $colour-primary 0.2rem;
  }

  h3 {
    font-family: "good_times";
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    span {
      color: $colour-primary;
    }
  }

  div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    i {
      font-size: 2.5rem;
      opacity: 0.9;
    }

    .icon-html {
      color: #e34c26;
    }

    .icon-css {
      color: #264de4;
    }

    .icon-sass {
      color: #CD6799;
    }

    .icon-boot {
      color: #563d7c ;
    }

    .icon-js {
      color: #f0db4f;
    }

    .icon-react {
      color: #61DBFB;
    }

    .icon-git {
      color: #f34f29;
    }
     

    p {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  .hard-skills {
    position: relative;
    bottom: 3.1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

// Présentation des projets

.project-presentation {
  margin: 5% 5%;
  opacity: 0;

  h2 {
    margin: 0 0 5rem 0;
    padding-top: 5rem;
    font-size: 3rem;
    order: 1;
    font-family: "good_times";
    border-bottom: solid $colour-primary 0.2rem;
  }

  .project-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;

    .project:hover {
      box-shadow: 0.1em 0.2em 0.2em $colour-primary;
    }

    .project:hover .project-img {
      opacity: 0.8;
    }

    .project:hover .project-overlay {
      opacity: 0;
      z-index: 0;
    }

    .incoming-project:hover .test-glitch {
      opacity: 0.8;
    }

    .project {
      display: flex;
      flex-flow: column;
      margin: 2% 2%;
      box-shadow: 0.1em 0.3em 0.6em $colour-project-background;
      border-radius: 5%;

      .project-overlay {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        font-size: 1.5rem;
        width: 25rem;
        height: 20rem;
        z-index: 5;
        transition: opacity 300ms;
        background-color: $colour-project-background;
        border-radius: 5%;

        h3 {
          font-size: 1.6rem;
          font-family: "good_times";
          color: $colour-primary;
        }
      }

      .project-description {
        position: absolute;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 5%;
      }

      .project-img {
        width: 25rem;
        object-fit: cover;
        object-position: top;
        opacity: 0;
        transition: opacity 300ms;
        border-radius: 5%;
      }

      .project-icon {
        display: flex;
        position: relative;

        .icon-langage {
          margin: 0 0.5rem;
          font-size: 3rem;
          color: $colour-text;
        }
      }
      .project-text {
        font-size: 1em;
        text-align: center;
        padding: 0 15%;
      }
    }
  }
}

// Glitch animation WIP
.test-glitch {
  font-family: "good_times";
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
  text-transform: uppercase;
}

.test-glitch span {
  position: absolute;
  top: 5em;
  left: 5em;
}

.test-glitch span:first-child {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  animation: glitch-effect infinite 650ms;
}

.test-glitch span:last-child {
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  animation: glitch-effect infinite 650ms;
}

@import "./layouts/mobile";
@import "./layouts/large";
