@media only screen and (max-width: 900px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    padding: 0;
    margin: 0;

    nav {
      opacity: 1;
      ul {
        li {
          display: none;
        }
      }
    }
  }

  .arrow-scroll {
    display: none;
  }


  .hamburger-menu {
    display: block;
    color: $colour-text;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  #close-icon {
    display: none;
    color: $colour-text;
    font-size: 1.5rem;
  }

  #nav-responsive {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 5;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      margin: 1.5rem auto;

      a {
        color: $colour-text;
      }
    }
  }

  #page-title {
    margin: 1.5rem 5%;

    #name {
      display: flex;
      justify-content: center;
      margin: 1.5rem auto;
      h1 {
        font-size: 1.8rem;
        margin-right: 1rem;
      }
    }

    .social-links {
      margin: 2rem auto;
    }

    i {
      font-size: 2.2rem;
      margin: 0 1.5rem;
    }

    #front-end {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      margin: 1.5rem auto;
      width: 100%;
    }
  }

  #job-description {
    font-size: 1.2rem;
  }

  #description {
    p {
      font-size: 1.1rem;
      padding: 0;
    }
  }

  #about {
    margin: 5% 5%;

    #about-title {
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      width: auto;
      margin: 0 auto 3rem auto;
    }

    #about-description {
      font-size: 1.1rem;
      display: flex;
      flex-flow: wrap;
    }

    img {
      margin: auto;
    }
  }

  #project-presentation {
    margin: 2% 5% 1.5rem 5%;

    h2 {
      font-size: 1.8rem;
      margin: 1rem auto;
    }
  }
}
