@font-face {
  font-family: "neuropolX";
  src: url(/font/neuropolX.ttf);
}

@font-face {
  font-family: "neuropolitical";
  src: url(/font/neuropolitical.ttf);
}

@font-face {
  font-family: "good_times";
  src: url(/font/good_times.ttf);
}

@font-face {
  font-family: helvetica;
  src: url("/font/helvetica-neue-master/HelveticaNeue-Regular.otf");
}

@font-face {
  font-family: "raleway";
  src: url("/font/raleway/Raleway-VariableFont_wght.ttf");
}